<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.antonycanut.FormationHulk">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="FormationHulk" android:theme="@android:style/Theme.NoTitleBar"></application>
</manifest>